<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Biblioteca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Biblioteca.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container-fluid p-0">
        <div class="row flex-nowrap">
            <header class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <nav class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    @* <nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-toggleable-sm box-shadow
                    flex-md-column align-items-start container" style="height: 100%;"> *@
                    @* <div class="mb-2 p-4"> *@
                    <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
                        asp-area="" asp-controller="Home" asp-action="Index"><span
                            class="fs-5 d-none d-sm-inline">Biblioteca</span></a>
                    @* </div> *@

                    <ul class="nav nav-pills flex-column mb-sm-auto ms-2 mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a class="nav-link align-middle text-white px-0" asp-area="" asp-controller="Home"
                                asp-action="Index">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-middle text-white px-0" asp-area="" asp-controller="Libros"
                                asp-action="Index">
                                <i class="fa-solid fa-book-open" aria-hidden="true"></i>
                                <span class="ms-1 d-none d-sm-inline">Libros</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-middle text-white px-0" asp-area="" asp-controller="Usuarios"
                                asp-action="Index"><i class="fa-regular fa-circle-user"></i>
                                <span class="ms-1 d-none d-sm-inline">Usuarios</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-middle text-white px-0" asp-area="" asp-controller="Idiomas"
                                asp-action="Index"><i class="fa-regular fa-circle-user"></i>
                                <span class="ms-1 d-none d-sm-inline">Idiomas</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-middle text-white px-0" asp-area="" asp-controller="Autores"
                                asp-action="Index"><i class="fa-regular fa-circle-user"></i>
                                <span class="ms-1 d-none d-sm-inline">Autores</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-middle text-white px-0" asp-area=""
                                asp-controller="TiposBibliografium" asp-action="Index"><i
                                    class="fa-regular fa-circle-user"></i>
                                <span class="ms-1 d-none d-sm-inline">Bibliografía</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-middle text-white px-0" asp-area="" asp-controller="Ciencias"
                                asp-action="Index"><i class="fa-regular fa-circle-user"></i>
                                <span class="ms-1 d-none d-sm-inline">Ciencias</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link align-middle text-white px-0" asp-area="" asp-controller="Editoras"
                                asp-action="Index"><i class="fa-regular fa-circle-user"></i>
                                <span class="ms-1 d-none d-sm-inline">Editoras</span></a>
                        </li>
                    </ul>
                </nav>
            </header>

            <div class="col-xs-12 col-md-10 main-background">
                <main role="main" class="container">
                    <div class="pt-4 px-3">
                        @RenderBody()
                    </div>
                    
                </main>
            </div>

        </div>
    </div>


    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - Biblioteca - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
