@model Biblioteca.Models.PrestamoDevolucion

@{
    ViewData["Title"] = "Crear Prestamo o Devolución";
}

<h1 class="title_main">Nuevo Prestamo o Devolución</h1>

<div class="mt-4">
    <form class="row g-3 needs-validation" asp-action="Create">
        <input type="hidden" asp-for="Estado" value="false" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-7 form-group">
                <label asp-for="Libro" class="control-label fw-bold"></label>
                <select asp-for="Libro" class ="form-control" asp-items="ViewBag.Libro">
                    <option value="">Seleccionar libro</option>
                </select>
                 <span asp-validation-for="Libro" class="text-danger"></span>
            </div>
            <div class="col-7 form-group">
                <label asp-for="Usuario" class="control-label fw-bold"></label>
                <select asp-for="Usuario" class ="form-control" asp-items="ViewBag.Usuario">
                    <option value="">Seleccionar usuario</option>
                </select>
            </div>
            @* <div class="col-7 form-group">
                <label asp-for="FechaPrestamo" class="control-label fw-bold"></label>
                <input asp-for="FechaPrestamo" class="form-control" type="date"/>
                <span asp-validation-for="FechaPrestamo" class="text-danger"></span>
            </div>
            <div class="col-7 form-group">
                <label asp-for="FechaDevolucion" class="control-label fw-bold"></label>
                <input asp-for="FechaDevolucion" class="form-control" type="date"/>
                <span asp-validation-for="FechaDevolucion" class="text-danger"></span>
            </div> *@
            <div class="col-7 form-group">
                <label asp-for="MontoXdia" class="control-label fw-bold"></label>
                <input asp-for="MontoXdia" class="form-control" />
                <span asp-validation-for="MontoXdia" class="text-danger"></span>
            </div>
            <div class="col-7 form-group">
                <label asp-for="CantidadDias" class="control-label fw-bold"></label>
                <input asp-for="CantidadDias" class="form-control" />
                <span asp-validation-for="CantidadDias" class="text-danger"></span>
            </div>
            <div class="col-7 form-group">
                <label asp-for="Comentario" class="control-label fw-bold"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="row row-cols-3 justify-content-start form-group mt-5">
                <div class="col-1">
                    <button class="btn btn-success" type="submit">Crear</button>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <button class="btn btn-light bg-white text-dark border border-dark" type="reset">
                        Borrar Datos
                    </button>
                </div>
                <div class="col-1">
                    <a class="btn btn-light bg-white text-dark border border-dark" asp-action="Index">Cancelar</a>
                </div>
            </div>
        </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
