@model PaginatedList<Biblioteca.Models.PrestamoDevolucion>

@{
    ViewData["Title"] = "Prestamos";

    var columns = new List<ColumnConfig<Biblioteca.Models.PrestamoDevolucion>>
    {
        new ColumnConfig<Biblioteca.Models.PrestamoDevolucion> { Header = "#", ValueSelector = item => item.NoPrestamo, CssClass = "text-center" },
        new ColumnConfig<Biblioteca.Models.PrestamoDevolucion> { Header = "Empleado", ValueSelector = item => item.EmpleadoNavigation.Nombre ?? "Desconocido" },
        new ColumnConfig<Biblioteca.Models.PrestamoDevolucion> { Header = "Usuario", ValueSelector = item => item.UsuarioNavigation.Nombre ?? "Desconocido"},
        new ColumnConfig<Biblioteca.Models.PrestamoDevolucion> { Header = "Libro", ValueSelector = item => item.LibroNavigation.Descripcion ?? "Desconocido"},
            new ColumnConfig<Biblioteca.Models.PrestamoDevolucion> { Header = "Cantidad días", ValueSelector = item => item.UsuarioNavigation.Nombre ?? "Desconocido"},
        new ColumnConfig<Biblioteca.Models.PrestamoDevolucion> { Header = "MontoxDías", ValueSelector = item => item.UsuarioNavigation.Nombre ?? "Desconocido"},
        new ColumnConfig<Biblioteca.Models.PrestamoDevolucion> { Header = "Fecha prestamo", ValueSelector = item => item.FechaPrestamo.Value.ToString("dd / MM / yyyy") ?? "No especificado"},
        new ColumnConfig<Biblioteca.Models.PrestamoDevolucion> { Header = "Fecha devolución", ValueSelector = item => item.FechaDevolucion.Value.ToString("dd / MM / yyyy") ?? "No especificado"},
        new ColumnConfig<Biblioteca.Models.PrestamoDevolucion> { Header = "Estado", ValueSelector = item =>  $"<span class='{(item.Estado ? "green-circle" : "red-circle")}'></span> {(item.Estado ? "Prestado" : "Devuelto")}"}
    };
}

@await Html.PartialAsync("_IndexHeader", ViewData["Title"].ToString())
@await Html.PartialAsync("TableElementPrestamo", Tuple.Create(Model, columns))