@model PaginatedList<Biblioteca.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";

    var columns = new List<ColumnConfig<Biblioteca.Models.Usuario>>
    {
        new ColumnConfig<Biblioteca.Models.Usuario> { Header = "#", ValueSelector = item => item.Identificador, CssClass = "text-center" },
        new ColumnConfig<Biblioteca.Models.Usuario> { Header = "Nombre", ValueSelector = item => item.Nombre ?? "Desconocido" },
        new ColumnConfig<Biblioteca.Models.Usuario> { Header = "Cédula", ValueSelector = item => item.Cedula ?? "Desconocido" },
        new ColumnConfig<Biblioteca.Models.Usuario> { Header = "No. Carnet", ValueSelector = item => item.NoCarnet ?? "Desconocido"},
        new ColumnConfig<Biblioteca.Models.Usuario> { Header = "Tipo de persona", ValueSelector = item => item.TipoPersona ?? "Desconocido"},
        new ColumnConfig<Biblioteca.Models.Usuario> { Header = "Estado", ValueSelector = item =>  $"<span class='{(item.Estado ? "green-circle" : "red-circle")}'></span> {(item.Estado ? "Activo" : "Inactivo")}"}
    };
}

@await Html.PartialAsync("_IndexHeader", ViewData["Title"].ToString())
@await Html.PartialAsync("TableElementUsuario", Tuple.Create(Model, columns))