@model Biblioteca.Models.Editora

@{
    ViewData["Title"] = "Crear Editora";
}

<h1 class="title_main">Nueva Editora</h1>

<div class="mt-4">

        <form class="row g-3 needs-validation" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-7 form-group">
                <label asp-for="Descripcion" class="control-label fw-bold"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="row row-cols-3 justify-content-start form-group mt-5">
                <div class="col-1">
                    <button class="btn btn-success" type="submit">Crear</button>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <button class="btn btn-light bg-white text-dark border border-dark" type="reset">
                        Borrar Datos
                    </button>
                </div>
                <div class="col-1">
                    <a class="btn btn-light bg-white text-dark border border-dark" asp-action="Index">Cancelar</a>
                </div>

            </div>
        </form>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
