@model PaginatedList<Biblioteca.Models.Editora>

@{
    ViewData["Title"] = "Editoras";

    var columns = new List<ColumnConfig<Biblioteca.Models.Editora>>
    {
        new ColumnConfig<Biblioteca.Models.Editora> { Header = "#", ValueSelector = item => item.Identificador, CssClass = "text-center" },
        new ColumnConfig<Biblioteca.Models.Editora> { Header = "Descripcion", ValueSelector = item => item.Descripcion },
        new ColumnConfig<Biblioteca.Models.Editora> { Header = "Estado", ValueSelector = item =>  $"<span class='{(item.Estado ? "green-circle" : "red-circle")}'></span> {(item.Estado ? "Activo" : "Inactivo")}"}
    };
}

@await Html.PartialAsync("_IndexHeader", ViewData["Title"].ToString())
@await Html.PartialAsync("TableElementEditora", Tuple.Create(Model, columns))
