@model PaginatedList<Biblioteca.Models.Autore>

@{
    ViewData["Title"] = "Autores";

    var columns = new List<ColumnConfig<Biblioteca.Models.Autore>>
    {
        new ColumnConfig<Biblioteca.Models.Autore> { Header = "#", ValueSelector = item => item.Identificador, CssClass = "text-center" },
        new ColumnConfig<Biblioteca.Models.Autore> { Header = "Nombre", ValueSelector = item => item.Nombre ?? "Desconocido" },
        new ColumnConfig<Biblioteca.Models.Autore> { Header = "País", ValueSelector = item => item.PaisOrigen ?? "Desconocido" },
        new ColumnConfig<Biblioteca.Models.Autore> { Header = "Idioma", ValueSelector = item => item.IdiomaNativo ?? "Desconocido"},
        new ColumnConfig<Biblioteca.Models.Autore> { Header = "Estado", ValueSelector = item =>  $"<span class='{(item.Estado ? "green-circle" : "red-circle")}'></span> {(item.Estado ? "Activo" : "Inactivo")}"}
    };
}

@await Html.PartialAsync("_IndexHeader", ViewData["Title"].ToString())
@await Html.PartialAsync("TableElementAutor", Tuple.Create(Model, columns))