@model Biblioteca.Models.Libro

@{
    ViewData["Title"] = "Crear Libro";
}

<h1 class="title_main">Nuevo Libro</h1>

<div class="mt-4">
    <form class="row g-3 needs-validation" asp-action="Create">
            <input type="hidden" asp-for="Estado" value="true"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-7 col-md-6 form-group">
                <label asp-for="Descripcion" class="control-label fw-bold"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="col-7 col-md-6 form-group">
                <label asp-for="SignaturaTopografica" class="control-label fw-bold"></label>
                <input asp-for="SignaturaTopografica" class="form-control" />
                <span asp-validation-for="SignaturaTopografica" class="text-danger"></span>
            </div>
            <div class="col-7 col-md-3 form-group">
                <label asp-for="Isbn" class="control-label fw-bold"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="col-7 col-md-3 form-group">
                <label asp-for="TipoBibliografia" class="control-label fw-bold"></label>
                <select asp-for="TipoBibliografia" class ="form-control" asp-items="ViewBag.TipoBibliografia">
                    <option value="">Seleccione un tipo de bibliografía</option>
                </select>
            </div>
            <div class="col-7 col-md-3ñ form-group">
                <label asp-for="Autores" class="control-label fw-bold"></label>
                <select asp-for="Autores" class ="form-control" asp-items="ViewBag.Autores">
                    <option value="">Seleccione un autor</option>
                </select>
            </div>
            <div class="col-7 col-md-3 form-group">
                <label asp-for="Editora" class="control-label fw-bold"></label>
                <select asp-for="Editora" class ="form-control" asp-items="ViewBag.Editora">
                    <option value="">Seleccione una editora</option>
                </select>
            </div>
            <div class="col-7 col-md-3 form-group">
                <label asp-for="AnioPublicacion" class="control-label fw-bold"></label>
                <input asp-for="AnioPublicacion" class="form-control" />
                <span asp-validation-for="AnioPublicacion" class="text-danger"></span>
            </div>
            <div class="col-7 col-md-3 form-group">
                <label asp-for="Ciencia" class="control-label fw-bold"></label>
                <select asp-for="Ciencia" class ="form-control" asp-items="ViewBag.Ciencia">
                    <option value="">Seleccione una ciencia</option>
                </select>
            </div>
            <div class="col-7 col-md-3 form-group">
                <label asp-for="Idioma" class="control-label fw-bold"></label>
                <select asp-for="Idioma" class ="form-control" asp-items="ViewBag.Idioma">
                    <option value="">Seleccione un idioma</option>
                </select>
            </div>
            
             <div class="row row-cols-3 justify-content-start form-group mt-5">
            <div class="col-1">
                <button class="btn btn-success" type="submit">Crear</button>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <button class="btn btn-light bg-white text-dark border border-dark" type="reset">
                    Borrar Datos
                </button>
            </div>
            <div class="col-1">
                <a class="btn btn-light bg-white text-dark border border-dark" asp-action="Index">Cancelar</a>
            </div>
        </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
