@model PaginatedList<Biblioteca.Models.Libro>

@{
    ViewData["Title"] = "Libros";

    var columns = new List<ColumnConfig<Biblioteca.Models.Libro>>
    {
        new ColumnConfig<Biblioteca.Models.Libro> { Header = "#", ValueSelector = item => item.Identificador, CssClass = "text-center" },
        new ColumnConfig<Biblioteca.Models.Libro> { Header = "Libro", ValueSelector = item => item.Descripcion ?? "Desconocido" },
        new ColumnConfig<Biblioteca.Models.Libro> { Header = "Signatura topográfica", ValueSelector = item => item.SignaturaTopografica ?? "Desconocido" },
        new ColumnConfig<Biblioteca.Models.Libro> { Header = "ISBN \\ Tipo de bibliografía", ValueSelector = item => $"{item.Isbn} \\ {item?.TipoBibliografiaNavigation?.Descripcion}" },
        new ColumnConfig<Biblioteca.Models.Libro> { Header = "Autor", ValueSelector = item => item?.AutoresNavigation.Nombre ?? "Desconocido" },
        new ColumnConfig<Biblioteca.Models.Libro> { Header = "Ciencia", ValueSelector = item => item?.CienciaNavigation.Descripcion ?? "Desconocido"},
        new ColumnConfig<Biblioteca.Models.Libro> { Header = "Idioma", ValueSelector = item => item?.IdiomaNavigation.Descripcion ?? "Desconocido"},
        new ColumnConfig<Biblioteca.Models.Libro> { Header = "Editora", ValueSelector = item => item?.EditoraNavigation.Descripcion ?? "Desconocido"},
        new ColumnConfig<Biblioteca.Models.Libro> { Header = "Estado", ValueSelector = item =>  $"<span class='{(item.Estado ? "green-circle" : "red-circle")}'></span> {(item.Estado ? "Disponible" : "Reservado")}"}
    };
}

@await Html.PartialAsync("_IndexHeader", ViewData["Title"].ToString())
@await Html.PartialAsync("TableElementLibros", Tuple.Create(Model, columns))