@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="title_main">Dashboard</h1>

<hr />

<div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var item in Model.Cards)
        {

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        @item.Title
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">@item.Description</h6>
                         @foreach (var item2 in item.estadistica)
                        {
                            <p class="card-text">@item2.Key: @item2.Value</p>
                        }                       
                    </div>
                </div>
            </div>

        }

    </div>