@model PaginatedList<Biblioteca.Models.UsuariosEmpleado>

@{
    ViewData["Title"] = "UsuariosEmpleado";

    var columns = new List<ColumnConfig<Biblioteca.Models.UsuariosEmpleado>>
    {
        new ColumnConfig<Biblioteca.Models.UsuariosEmpleado> { Header = "#", ValueSelector = item => item.Identificador, CssClass = "text-center" },
        new ColumnConfig<Biblioteca.Models.UsuariosEmpleado> { Header = "Name", ValueSelector = item => item.Name ?? "Desconocido" },
        new ColumnConfig<Biblioteca.Models.UsuariosEmpleado> { Header = "Rol", ValueSelector = item => item.Rol ?? "Desconocido" },
        new ColumnConfig<Biblioteca.Models.UsuariosEmpleado> { Header = "Fecha Creación", ValueSelector = item => item.FechaCreacion.ToString("dd / MM / yyyy")},
        new ColumnConfig<Biblioteca.Models.UsuariosEmpleado> { Header = "Última Sesión", ValueSelector = item => item.FechaUltimoInicioSesion.ToString("dd / MM / yyyy")},
        new ColumnConfig<Biblioteca.Models.UsuariosEmpleado> { Header = "Estado", ValueSelector = item =>  $"<span class='{(item.Estado ? "green-circle" : "red-circle")}'></span> {(item.Estado ? "Activo" : "Inactivo")}"}
    };
}

@await Html.PartialAsync("_IndexHeader", ViewData["Title"].ToString())
@await Html.PartialAsync("TableElementEmpleadoUsuario", Tuple.Create(Model, columns))