@model PaginatedList<Biblioteca.Models.Empleado>

@{
    ViewData["Title"] = "Empleados";

    var columns = new List<ColumnConfig<Biblioteca.Models.Empleado>>
    {
        new ColumnConfig<Biblioteca.Models.Empleado> { Header = "#", ValueSelector = item => item.Identificador, CssClass = "text-center" },
        new ColumnConfig<Biblioteca.Models.Empleado> { Header = "Nombre", ValueSelector = item => item.Nombre ?? "Desconocido" },
        new ColumnConfig<Biblioteca.Models.Empleado> { Header = "Cédula", ValueSelector = item => item.Cedula ?? "Desconocido" },
        new ColumnConfig<Biblioteca.Models.Empleado> { Header = "Tanda", ValueSelector = item => item.TandaLabor ?? "Desconocido"},
        new ColumnConfig<Biblioteca.Models.Empleado> { Header = "Comisión", ValueSelector = item => item.PorcientoComision.ToPercentage()},
        new ColumnConfig<Biblioteca.Models.Empleado> { Header = "Fecha de ingreso", ValueSelector = item => item.FechaIngreso.Value.ToString("dd / MM / yyyy")},
        new ColumnConfig<Biblioteca.Models.Empleado> { Header = "Estado", ValueSelector = item =>  $"<span class='{(item.Estado ? "green-circle" : "red-circle")}'></span> {(item.Estado ? "Activo" : "Inactivo")}"}
    };
}

@await Html.PartialAsync("_IndexHeader", ViewData["Title"].ToString())
@await Html.PartialAsync("TableElementEmpleado", Tuple.Create(Model, columns))